.grid {
/*    max-width: 1200px;*/
    display: grid;
    padding: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 2rem;
    position: relative;
}


.flip_card {
    /*background: #000;*/
    cursor: pointer;
    /*    border-radius: 1.2rem;*/
/*    margin: 0.2rem;*/
    display: grid;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip_card::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.flip_card img, .flip_card p {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.flip_card::before,
.flip_card img, .flip_card p {
    border-radius: 1rem;
    grid-area: 1 / 1 / 2 / 2;
}

.top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bottom {
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flipp {
    transform: rotateY(180deg);
    transition: 0.9s;
}
.icon {
  font-size: 44px;
  color: #EBEAE0;
/*  --ionicon-stroke-width: 10px;*/
}
.icon:hover {
    cursor: pointer;
}

footer {

/*    padding-bottom: 100px;*/
}
.copyright {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.copy {
    font-family: sans-serif;
    color: #EBEAE0;
    letter-spacing: 1.4px;
    font-size: 12px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.brand {
    font-family: sans-serif;
    color: #EBEAE0;
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
    font-size: 12px;
}