.grid {
/*    max-width: 1200px;*/
    display: grid;
    padding: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 2rem;
    position: relative;
}


.flip_card {
    cursor: pointer;
    border-radius: 10px;
    display: grid;
    border:1px solid #003333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip_card::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.flip_card::before,
.flip_card div {
/*    border-radius: 1rem;*/
    grid-area: 1 / 1 / 2 / 2;
}

.top, .bottom {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;   
/*    font-weight: 300;*/
    text-align: center;
    padding: 22px;
}

/* užversta */
.top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #003333;
    border-radius: 8px;
    color: #eaeae0;
    font-weight: 600;
}

/* atversta */
.bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 300;
}

span.challenge {
    top: 50%;
    left:12px;
    right:12px;
    transform: translateY(-50%);
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #003333;
    font-weight: 400;
    text-align: center;

}


.flipp {
    transform: rotateY(180deg);
    transition: 0.9s;
/*    background: #003333;*/
/*    color: #003333;*/
}
.icon {
  font-size: 44px;
  color: #003333;
/*  --ionicon-stroke-width: 10px;*/
}
.icon:hover {
    cursor: pointer;
}

footer {

/*    padding-bottom: 100px;*/
}
.copyright {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.copy {
    font-family: sans-serif;
    color: #003333;
    letter-spacing: 1.4px;
    font-size: 12px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.brand {
    font-family: sans-serif;
    color: #003333;
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
    font-size: 12px;
}


.test {
    position: absolute;
    border-radius: 30px;
/*    background-color: #AA0000;*/
    width: 32px;
    height: 32px;
    top: 100%;
    left: 100%;


/*    -webkit-transform: translate(-50%, -50%);*/
    transform: translate(-130%, -130%);
/*    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
}


hr {
    border:none;
    border-top: 0.5px solid #999;
    margin-top: 1px;
    margin-bottom: 5px;
}



