* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    background: #eaeae0;
}

section {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 4rem 4rem 0rem 4rem;
}

img.logo, .logo {
    width: 12%;
    height: 50%;

}
.title {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #003333;
}
img.title {
    max-width: 800px;
}