* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #003333;
}

section {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 4rem 4rem 0rem 4rem;
}

img.logo {
    width: 10%;
}
.title {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #eee;
}
img.title {
    max-width: 800px;
}