@media(max-width: 1344px) {
    .grid {
        padding: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        grid-gap: 2rem;
    }

    header {
        padding: 4rem 4rem 0rem 4rem;
    }

    img.logo {
        width: 10%;
    }

    img.title {
        max-width: 800px;
    }

    span.challenge {
        font-size: 20px;
        line-height: 20px;
    }
}

@media(max-width: 1200px) {
    .grid {
        /*		padding: 4rem;*/
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        /*    	grid-gap: 2rem;*/
    }

    img.logo {
        width: 10%;
    }

    img.title {
        max-width: 530px;
    }
}


@media(max-width: 944px) {
    .grid {
        padding: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        /*    	grid-gap: 2rem;*/
    }

    header {
        padding: 2rem 2rem 0rem 2rem;
    }

    .title {
        font-size: 55px;
        font-weight: 400;
        letter-spacing: 8px;
    }


    span.challenge {
        font-size: 20px;
        line-height: 22px;
    }
}


@media(max-width: 704px) {
    .grid {
        padding: 0.75rem;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-gap: 0.75rem;
    }

    header {
        padding: 1rem 0.75rem 0.25rem 0.75rem;
    }

    img.logo {
        width: 20%;
    }

    img.title {
        max-width: 250px;
    }

    .title {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 4px;
    }

    .top, .bottom {
        padding: 12px;
    }
}


@media(max-width: 404px) {

    .grid {
        padding: 0.75rem;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        grid-gap: 0.75rem;
    }

    header {
        padding: 1rem 0.75rem 0.25rem 0.75rem;
    }

    img.logo {
        width: 20%;
    }

    img.title {
        max-width: 200px;
    }
    .title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 5px;
    }

    .top, .bottom {
        padding: 10px;
    }

    span.challenge {
        font-size: 13px;
        line-height: 14px;
        left: 15px;
        right: 15px;
    }

    .bottom-span {
        font-size: 20px;
        line-height: 20px;
    }
}