.horizontal-shake {
    -webkit-animation: horizontal-shaking 0.35s;
    -moz-animation: horizontal-shaking 0.35s;
    -o-animation: horizontal-shaking 0.35s;
    -ms-transition: horizontal-shaking 0.35s;
    animation: horizontal-shaking 0.35s;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

